@import 'windows/dark';
@import 'windows/light';
@import 'macos/dark';
@import 'macos/light';

html, body {
    /* Font Families */
    --font-family-fallback:
        -apple-system, /* San Francisco in Safari (on Mac OS X and iOS); Neue Helvetica and Lucida Grande on older versions of Mac OS X. */
        BlinkMacSystemFont, /* Equivalent of -apple-system, for Chrome on Mac OS X. */
        "Segoe UI", /* Windows (Vista+) and Windows Phone. */
        "Roboto", /* Android (Ice Cream Sandwich (4.0)+) and Chrome OS. */
        "Ubuntu", /* all versions of Ubuntu. */
        system-ui, /* Default UI font on a given platform. */
        'Helvetica Neue', Helvetica, Arial, sans-serif; /* Fallback */
    --font-family-text: "Segoe UI Variable Text", "Seoge UI Variable Static Text", var(--font-family-fallback);
    --font-family-small: "Segoe UI Variable Small", "Seoge UI Variable Static Small", var(--font-family-fallback);
    --font-family-display: "Segoe UI Variable Display", "Seoge UI Variable Static Display", var(--font-family-fallback);

    /* Font Size */
    --font-size-caption: 12px;
    --font-size-body: 14px;
    --font-size-body-large: 18px;
    --font-size-subtitle: 20px;
    --font-size-title: 28px;
    --font-size-title-large: 40px;
    --font-size-display: 68px;

    /* Roundness */
    --control-corner-radius: 4px;
    --overlay-corner-radius: 8px;

    /* Focus Stroke */
    --focus-stroke:
        0 0 0 1px var(--focus-stroke-inner),
        0 0 0 3px var(--focus-stroke-outer);
}

/* Themes */
div[data-theme='windows-dark-theme'] {
    @include windows-dark;
}

div[data-theme='windows-light-theme'] {
    @include windows-light;
}

div[data-theme='macos-dark-theme'] {
    @include macos-dark;
}

div[data-theme='macos-light-theme'] {
    @include macos-light;
}

div {
    color: var(--text-fill-color-primary);
}

.theme-transition,
.theme-transition *,
.theme-transition *:before,
.theme-transition *:after {
    transition-property: color, background-color;
    transition-timing-function: ease-out;
    transition-duration: 200ms;
    transition-delay: 0 !important;
}