.popover {
    outline: 0;
    z-index: calc(var(--popover-zindex) + 1);
    position: absolute;
    opacity: 0;

    &.popover-fixed {
        position: fixed;
    }

    &.popover-relative-width {
        width: 100%;
    }

    &.popover-open {
        opacity: 1;
        transition: opacity;

        margin: 0px;
        padding: 0px;
        min-inline-size: 75px;
        box-sizing: border-box;
        border-radius: var(--overlay-corner-radius);
        border-width: 1px;
        border-style: solid;
        border-color: var(--menu-flyout-presenter-border);
        background-color: var(--menu-flyout-presenter-background);
        -webkit-backdrop-filter: var(--menu-flyout-presenter-backdrop-filter);
        backdrop-filter: var(--menu-flyout-presenter-backdrop-filter);
        background-clip: padding-box;
        box-shadow: var(--menu-flyout-presenter-shadow);
    }

    &:not(.popover-open ) {
        pointer-events: none;
        transition-duration: 0ms !important;
        transition-delay: 0ms !important;
    }
}

/*.dialog {
    .popover-cascading-value {
        z-index: calc(var(--popover-zindex) + 3);
    }
}*/
