.context-menu-item {
    padding: 8px 10px;
    font-size: 15px;
    color: #eee;
    cursor: pointer;
    border-radius: inherit;
    display: flex;
    gap: 8px;

    .font-icon {
        align-self: center;
    }

    .text {
        flex-grow: 1;
        align-self: center;
    }

    .keyboard-accelerator {
        color: var(--text-fill-color-secondary);
        align-self: center;
    }
}
