@namespace DevToys.Blazor.Components
@inherits JSStyledComponentBase

<CascadingValue Value="this" IsFixed="true">
    <div id=@Id
         role="menuitem"
         class="context-menu-item @(FinalCssClasses)"
         style="@(Style)"
         @attributes="AdditionalAttributes"
         @onclick="OnItemClickAsync">
        <FontIcon Glyph="@IconGlyph" FontFamily="@IconFontFamily" />
        <TextBlock Class="text"
                   NoWrap="true">
            @Text
        </TextBlock>
        @if (!string.IsNullOrWhiteSpace(KeyboardShortcut))
        {
            <TextBlock Appearance="TextBlockAppearance.Caption"
                       NoWrap="true"
                       Class="keyboard-accelerator">
                @KeyboardShortcut
            </TextBlock>
        }
    </div>
</CascadingValue>