@use "../mixins/index" as mixins;
@use "../configs/variables" as variables;

.scrollable {
    overflow-y: overlay;
    overflow-x: overlay;

    &.vertical {
        overflow-y: overlay;
        overflow-x: hidden;
    }

    &.horizontal {
        overflow-y: hidden;
        overflow-x: overlay;
    }
    /* Works on Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
        width: 3px;
        @include mixins.transition(all variables.$transition-base);
    }

    &::-webkit-scrollbar-track {
        border-radius: 999px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 999px;
        border-width: 3px;
        border-style: solid;
    }

    &:hover {
        &::-webkit-scrollbar {
            width: 12px;
        }
    }
}
