@use "../mixins/index" as mixins;
@use "../configs/variables" as variables;

@keyframes entranceThemeTransitionKeyFrames {
    from {
        opacity: 0;
        transform: translateY(150px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.entranceThemeTransition {
    animation-name: entranceThemeTransitionKeyFrames;
    animation-duration: 0.15s;
    animation-timing-function: ease-out;
}