@namespace DevToys.MauiBlazor.Components

@inherits StyledComponentBase

<CascadingValue Value="this" IsFixed="true">
    <div id=@Id
         class="nav-bar-root @(FinalCssClasses)"
         style="@(Style)"
         @ref=Element
         @attributes="AdditionalAttributes">

        <nav>

        </nav>

        <main>
            @Content
        </main>
    </div>
</CascadingValue>