@namespace DevToys.MauiBlazor.Components
@inherits StyledLayoutComponentBase

<CascadingValue Value="this" IsFixed="true">
    <li id="@Id" class="@CssClasses">
        <span class="item-link custom"
              @onclick=@OnClickAsync>
            <FontIcon FontFamily="@IconFontFamily" Glyph="@IconGlyph"/>
            <span class="item-content">
                @Title
            </span>
        </span>
        @ChildContent
    </li>
</CascadingValue>