.grid-view {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
    pointer-events: auto;

    .header {
        margin-bottom: 24px;
    }

    .footer {
        margin-top: 24px;
    }

    .grid-view-group {
        position: relative;

        .grid-view-group-header {
            position: sticky;
            top: 0;
            z-index: 10;
            background-color: transparent;
            border-bottom: 1px solid var(--grid-view-header-border-line);
            padding-bottom: 8px;
            margin-top: 8px;
            margin-bottom: 4px;
        }

        .grid-view-items-container {
            clip-path: none; /* Updated dynamically in JavaScript */
            display: flex !important;
            gap: 12px;
            flex-wrap: wrap !important;
            padding: 0;
            margin: 16px 0 0 0;

            .grid-view-item {
                background-color: var(--grid-view-item-background);
                border-style: solid;
                border-width: 1px;
                border-color: var(--grid-view-item-stroke);
                border-radius: var(--control-corner-radius);
                list-style-type: none;

                .grid-view-item-hover-filter:hover {
                    background-color: var(--grid-view-item-background-hover);
                    height: 100%;
                }
            }
        }
    }
}
