@namespace DevToys.MauiBlazor.Components
@using Microsoft.Fast.Components.FluentUI
@using Microsoft.Fast.Components.FluentUI.DesignTokens

<div style="
display: grid;
grid-row: @Row / @RowSpan;
grid-column: @Column / @ColumnSpan;
justify-items: @HorizontalAlignment.Css;
align-items: @VerticalAlignment.Css;">
    @ChildContent
</div>

@code {

    [CascadingParameter]
    private Grid Parent { get; set; }

    [Parameter]
    public int Column { get; set; } = 1;

    [Parameter]
    public int Row { get; set; } = 1;

    [Parameter]
    public int RowSpan
    {
        get => (_rowSpan ?? Row) + 1;
        set => _rowSpan = value;
    }

    [Parameter]
    public int ColumnSpan
    {
        get => (_columnSpan ?? Column) + 1;
        set => _columnSpan = value;
    }

    [Parameter]
    public CssAlignment HorizontalAlignment { get; set; } = Alignment.Stretch;

    [Parameter]
    public CssAlignment VerticalAlignment { get; set; } = Alignment.Stretch;


    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override void OnInitialized()
    {
        if (Parent == null)
            throw new ArgumentException("Parent not defined. Make sure your component is in a grid element");
        base.OnInitialized();
    }

    private int? _rowSpan;
    private int? _columnSpan;
}
