@using Microsoft.Fast.Components.FluentUI
@using Microsoft.Fast.Components.FluentUI.DesignTokens

@namespace DevToys.MauiBlazor.Components

@inherits FluentComponentBase

<CascadingValue Value="this">
    @ColumnDefinitions
    @RowDefinitions

    <div style="@_wrapper.Css @_wrapper.RowGap(RowGap) @_wrapper.ColumnGap(ColumnGap) @Style">
        @Content
    </div>
</CascadingValue>

@code {
    [Parameter]
    public RenderFragment ColumnDefinitions { get; set; }

    [Parameter]
    public RenderFragment RowDefinitions { get; set; }

    [Parameter]
    public RenderFragment Content { get; set; }

    [Parameter]
    public double ColumnGap { get; set; } = 0;

    [Parameter]
    public double RowGap { get; set; } = 0;

    [Parameter]
    public double? Width { get; set; }

    [Parameter]
    public double? Height { get; set; }

    private readonly GridWrapper _wrapper = new GridWrapper();

    public void AddColumn(string width, string min, string max)
    {
        _wrapper.AddColumn(width, min, max);
        StateHasChanged();
    }

    public void AddRow(string height, string min, string max)
    {
        _wrapper.AddRow(height, min, max);
        StateHasChanged();
    }

    protected override void OnParametersSet()
    {
        _wrapper.SetWidth(Width);
        _wrapper.SetHeight(Height);
        base.OnParametersSet();
    }
}
