@font-face {
    font-family: "FluentSystemIcons-Regular";
    src: url("../fonts/FluentSystemIcons-Regular.woff2?b48ba7b19a15536ed3d062b9b6c8fa0e") format("woff2"), url("../fonts/FluentSystemIcons-Regular.woff?b48ba7b19a15536ed3d062b9b6c8fa0e") format("woff"), url("../fonts/FluentSystemIcons-Regular.ttf?b48ba7b19a15536ed3d062b9b6c8fa0e") format("truetype");
}

i[class^="FluentSystemIcons"]:before, i[class*=" FluentSystemIcons"]:before {
    font-family: FluentSystemIcons-Regular !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin typography-body {
    user-select: none;

    font: {
        family: var(--font-family-text);
        size: var(--font-size-body);
        weight: normal;
    }

    line-height: 20px;
}