.split-grid {
    height: inherit;
    pointer-events: auto;

    &-gripper {
        display: flex;

        &:hover, &:active {
            background-color: var(--subtle-fill-secondary);
        }
    }
}
