@namespace DevToys.MauiBlazor.Components

@inherits JSStyledComponentBase

<CascadingValue Value="this" IsFixed="true">
    <button id=@Id
            role="button"
            class="@(FinalCssClasses)"
            style="@(Style)"
            @ref=Element
            @attributes="AdditionalAttributes">
        @ChildContent
    </button>
</CascadingValue>