.ui-data-grid-presenter {
    border: 2px dashed transparent;
    border-radius: var(--overlay-corner-radius);

    &-command-bar {
        min-height: 32px;
    }
}

// Compact mode
div[data-compactmode] {
    .ui-data-grid-presenter {
        &-command-bar {
            min-height: 26px;
        }
    }
}
