.ui-file-selector {
    border: 2px dashed var(--ui-file-selector-stroke-color);
    border-radius: var(--overlay-corner-radius);
    background-color: var(--ui-file-selector-background-color);
    pointer-events: auto;

    &-content {
        padding: 24px;
    }

    &.dragging {
        border-color: var(--ui-file-selector-dragging-stroke-color);
        background-color: var(--ui-file-selector-dragging-background-color);

        * {
            pointer-events: none !important;
        }
    }
}


// Compact mode
div[data-compactmode] {
    .ui-file-selector {
        &-content {
            padding : 8px;
        }
    }
}
