.ui-text-input-wrapper {
    border: 2px dashed transparent;
    border-radius: var(--overlay-corner-radius);

    &-separator {
        border-left: 1px solid var(--divider-stroke-color-default);
        width: 1px;
        height: 100%;
        margin-left: 2px;
        margin-right: 2px;
    }

    &-centered-progress-bar {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0%, -50%);
        bottom: 50%;
        right: 0;
        height: fit-content;
    }

    &-icon {
        height: 20px;
        width: 20px;
    }

    &.dragging {
        border-color: var(--ui-file-selector-dragging-stroke-color);
        background-color: var(--ui-file-selector-dragging-background-color);

        * {
            pointer-events: none !important;
        }
    }
}

// Compact mode
div[data-compactmode] {
    .ui-text-input-wrapper {
        &-icon {
            height: 16px;
            width: 16px;
        }
    }
}
