.stack-vertical {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
}

.stack-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: normal;
    width: 100%;
    max-height: inherit !important;
    height: 100% !important;
}