@using Microsoft.Fast.Components.FluentUI
@using Microsoft.Fast.Components.FluentUI.DesignTokens

@inherits FluentComponentBase

<div style="display: flex; align-items: center; justify-content: center;">
    <FluentProgressRing id="@($"{Id}-loading")" Style="position: fixed;" />
    <div id="@Id" style="@StyleValue" class="@ClassValue"></div>
</div>