nav {
    pointer-events: auto;

    .sidebar-item-separator {
        margin: 4px 0px;
        padding: 0;
        height: 1px;
        border-color: transparent;
        background-color: var(--navigation-view-separator-color);
    }

    .list-box-item {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 1fr;
        gap: 0px 16px;
        grid-template-areas: ". . .";
        padding-right: 0px;

        &.sidebar-item {
          margin: var(--sidebar-item-margin);
        }

        .sidebar-item-icon {
            height: 16px;
            width: 16px;
        }

        .sidebar-expand-group-button {
            height: 34px !important;
            transition-duration: 0.2s;
            transition-property: transform;

            &:hover {
                border-color: transparent;
                background-color: transparent;
            }

            &:active {
                border-color: transparent;
                background-color: transparent;
            }

            &[data-expanded="true"] {
                transform: rotate(180deg);
            }
        }
    }

    .sidebar-child-item {
        padding-left: 42px;
    }

    &.collapsed:not(.expanded-overlay) {
        .list-box-item {
            max-width: 40px;
            overflow: hidden;

            .sidebar-item-text, .sidebar-expand-group-button {
                display: none;
            }
        }

        .sidebar-items {
            &.children {
                display: none;
            }
        }
    }
}

// Compact mode
div[data-usercompactmode] {
    nav {
        .list-box-item {
            .sidebar-expand-group-button {
                height: 24px !important;
            }
        }
    }
}

div[data-compactmode]:not(div[data-usercompactmode]) {
    nav {
        .list-box-item {
            block-size: 34px;
        }
    }
}
