@using DevToys.Core.Tools.ViewItems

@using Microsoft.Fast.Components.FluentUI
@using Microsoft.Fast.Components.FluentUI.DesignTokens

@inherits MefLayoutComponentBase

<header>
</header>

<Navbar Id="navbar" IsCollapsible="true" HasSearch="false" IsVertical="true">
    <NavbarItems IsScrollable="true" IsScrollableVertical="true">
        @foreach (var navItem in ViewModel.HeaderAndBodyToolViewItems)
        {
            if (navItem is GuiToolViewItem guiToolViewItem)
            {
                <NavbarItem Item="navItem" Selected="navItem == ViewModel.SelectedMenuItem" />
            }
            else if (navItem is GroupViewItem groupViewItem)
            {
                if (groupViewItem.Children is not null)
                {
                    <NavbarGroup Item="navItem" Selected="navItem == ViewModel.SelectedMenuItem">
                        @foreach (var childItem in groupViewItem.Children)
                        {
                            <NavbarItem Item="childItem" Selected="navItem == ViewModel.SelectedMenuItem" />
                        }
                    </NavbarGroup>
                }
                else
                {
                    <NavbarItem Item="navItem" Selected="navItem == ViewModel.SelectedMenuItem" />
                }
            }
            else
            {
                <li class="nav-item nav-separator"></li>
            }
        }
    </NavbarItems>
    <NavbarItems IsFixedBottom="true">
        @foreach (var navItem in ViewModel.FooterToolViewItems)
        {
            if (navItem is GuiToolViewItem guiToolViewItem)
            {
                <NavbarItem Item="navItem" Selected="navItem == ViewModel.SelectedMenuItem" />
            }
            else
            {
                <li class="nav-item nav-separator"></li>
            }
        }
    </NavbarItems>
</Navbar>

<main class="page">
    @Body
</main>
