@inherits MefLayoutComponentBase

<FluentDesignSystemProvider BaseLayerLuminance=@_baseLayerLuminanceValue>
    <div id="container">
        <NavigationView>
            <MenuItemsSource>
                <FluentButton Appearance="Appearance.Stealth">Hello</FluentButton>
                <FluentButton Appearance="Appearance.Stealth">There</FluentButton>
            </MenuItemsSource>
            <FooterMenuItemsSource>
                <FluentButton Appearance="Appearance.Stealth">Bottom</FluentButton>
            </FooterMenuItemsSource>
            <Content>
                <main>
                    @Body
                </main>
            </Content>
        </NavigationView>
    </div>
</FluentDesignSystemProvider>