@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <nav>
            <div>
                <NavLink href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </div>
            <div>
                <NavLink href="counter">
                    Counter
                </NavLink>
            </div>
            <div>
                <NavLink href="fetchdata">
                    Fetch data
                </NavLink>
            </div>
        </nav>
    </div>

    <main>
        <article>
            @Body
        </article>
    </main>
</div>