@namespace DevToys.Blazor.Components
@inherits JSStyledComponentBase

<div @ref="Element"
     class="@FinalCssClasses"
     style="@Style"
     tabindex="-1"
     @onkeydown="@OnKeyDown">
    @ChildContent
</div>