.auto-suggest-box-drop-down {
    pointer-events: auto;
    -webkit-border-radius: var(--overlay-corner-radius) !important;
    -webkit-border-top-left-radius: 0px !important;
    -webkit-border-top-right-radius: 0px !important;
    border-radius: var(--overlay-corner-radius) !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
