.text-block {
    color: currentColor;
    display: inline-block;
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.type- {
        &subtitle,
        &title,
        &title-large,
        &display {
            font: {
                family: var(--font-family-display);
                weight: 400;
            }
        }

        &body,
        &body-strong,
        &body-large {
            font-family: var(--font-family-text);
        }

        &caption {
            line-height: 16px;

            font: {
                size: var(--font-size-caption);
                weight: 400;
                family: var(--font-family-small);
            }
        }

        &body,
        &body-strong,
        &body-large {
            line-height: 20px;

            font: {
                weight: 400;
                size: var(--font-size-body);
            }
        }

        &body-strong {
            font-weight: 600;
        }

        &body-large {
            font-size: var(--font-size-body-large);
            line-height: 24px;
        }

        &subtitle {
            font-size: var(--font-size-subtitle);
            line-height: 28px;
        }

        &title {
            font-size: var(--font-size-title);
            line-height: 36px;
        }

        &title-large {
            font-size: var(--font-size-title-large);
            line-height: 52px;
        }

        &display {
            font-size: var(--font-size-display);
            line-height: 92px;
        }
    }

    &.no-wrap {
        white-space: nowrap;
    }
}
