@namespace DevToys.Blazor.Components
@inherits StyledComponentBase

<CascadingValue Name="ParentIsEnabled" Value="@IsActuallyEnabled">
    <ContextMenu IsEnabled="IsActuallyEnabled"
                 Items="_contextMenuItems"
                 OnContextMenuOpening=@OnContextMenuOpeningAsync>
        <li class="list-box-item @(FinalCssClasses)"
            style="@(Style)"
            role="listitem"
            @ref=Element
            @attributes="AdditionalAttributes"
            @onclick="OnClickAsync">
            @ChildContent
        </li>
    </ContextMenu>
</CascadingValue>