@page "/"

@using Microsoft.Fast.Components.FluentUI

Welcome to your new app.

<FluentButton Style="margin:24px">Click Me</FluentButton>


<MonacoEditor Language="csharp" IsDarkMode="false" />

<p>Neutral and Neutral with Disabled</p>
<FluentButton Appearance="Appearance.Neutral">Button</FluentButton>
<FluentButton Appearance="Appearance.Neutral" Disabled="true">Button</FluentButton>

<p>Accent and Accent with Disabled</p>
<FluentButton Appearance="Appearance.Accent">Button</FluentButton>
<FluentButton Appearance="Appearance.Accent" Disabled="true">Button</FluentButton>

<p>Lightweight and Lightweight with Disabled</p>
<FluentButton Appearance="Appearance.Lightweight">Button</FluentButton>
<FluentButton Appearance="Appearance.Lightweight" Disabled="true">Button</FluentButton>

<p>Outline and Ouline with Disabled</p>
<FluentButton Appearance="Appearance.Outline">Button</FluentButton>
<FluentButton Appearance="Appearance.Outline" Disabled="true">Button</FluentButton>

<p>Stealth and Stealth with Disabled</p>
<FluentButton Appearance="Appearance.Stealth">Button</FluentButton>
<FluentButton Appearance="Appearance.Stealth" Disabled="true">Button</FluentButton>