@page "/"
@page "/{Name}"

@using Microsoft.Fast.Components.FluentUI
@using System.Web;

<h1>@Name - (@EncodedName)</h1>


@functions {

    private string _name = string.Empty;
    private string _encodedName = string.Empty;

    public string EncodedName
    {
        get => _encodedName; 
        set
        {
            if (string.IsNullOrWhiteSpace(value))
            {
                _encodedName = string.Empty;
                return;
            }
            _encodedName = value;
        }
    }

    // Define a property to contain the parameter passed from the auth page
    [Parameter]
    public string Name { 
        get => _name; 
        set
        {
            if (string.IsNullOrWhiteSpace(value))
            {
                EncodedName = string.Empty;
                _name = string.Empty;
                return;
            }
            Guard.IsNotNullOrWhiteSpace(value);
            EncodedName = value;
            _name = HttpUtility.UrlDecode(value);
        }
    }
}
