@page "/"

@using DevToys.Core.Tools.ViewItems;

@inherits MefLayoutComponentBase

<Navbar Id="navbar"
        IsCollapsible="true"
        HasSearch="false"
        IsVertical="true"
        MenuItemsSource="@ViewModel.HeaderAndBodyToolViewItems"
        FooterMenuItemsSource="@ViewModel.FooterToolViewItems"
        @bind-SelectedItem="ViewModel.SelectedMenuItem">

    <Content>
        @if (!IsTransitioning)
        {
            if (ViewModel.SelectedMenuItem is GuiToolViewItem guiToolViewItem)
            {
                <h1>You selected a TOOL: @guiToolViewItem.ToolInstance.LongOrShortDisplayTitle</h1>
                <!-- TODO: Place here a component that takes in argument the guiToolViewItem -->

                <Button @onclick="OnSetFavoriteAsync">Set favorite</Button>
            }
            else if (ViewModel.SelectedMenuItem is GroupViewItem groupToolViewItem)
            {
                <ToolGroup GroupViewItem="@groupToolViewItem" Class="entranceThemeTransition" />
            }
        }
    </Content>
</Navbar>