@namespace DevToys.Blazor.Components
@inherits StyledComponentBase

<CascadingValue Value="this" IsFixed="true">
    <li class="list-box-item @(FinalCssClasses)"
        style="@(Style)"
        role="listitem"
        @ref=Element
        @attributes="AdditionalAttributes"
        @onclick="OnClickAsync">
        @ChildContent
    </li>
</CascadingValue>