@use "../../../Assets/sass/devtoys" as *;

.combo-box {
    @include typography-body;
    pointer-events: auto;

    &-with-header {
        display: flex;
        flex-direction: column;
        position: relative;

        .combo-box-header {
            margin-bottom: 4px;
        }
    }

    &-button {
        .arrow-down-icon {
            margin-left: 4px;
            transition-duration: 0.2s;
            transition-property: transform;
            color: currentColor !important;
        }

        &:active {
            .arrow-down-icon {
                transform: translateY(2px);
                color: currentColor !important;
            }
        }
    }

    &-list-box {
        margin: 0px;
        padding: 0px;
        max-height: 400px;
    }
}